{% extends "base.html"%}
{% block title %}Don Ekong - Profile{% endblock %}

{% block content %}

    <div class="about-text">
        <h2>About Me</h2>
        <p>
            Creative developer with a passion for buillding impactful digital
            experiences. I blend code, music, and bold ideas to create projects
            that feel alive and meaningful. Constantly learning, experimenting, and 
            pushing boundaries, I enjoy turning complex problems into simple, elegant
            solutions. Whether developing apps or exploring new creative directions,
            I bring curiosity, energy, and originality to everything I create.
        </p>
    </div>

    <section class="creative-stack">
        <h2>Creative Stack</h2>
        <p>
            I blend technology and creativity to build experiences that feel alive!
        </p>

        <div class="stack-group">
            <h3>Code</h3>
            <span>Python</span>
            <span>JavaScript</span>
        </div>

        <div class="stack-group">
            <h3>Framework</h3>
            <span>Django/Flask</span>
            <span>TypeScript</span>
        </div>

        <div class="stack-group">
            <h3>Frontend</h3>
            <span>Semantic HTML & accessible structure</span>
            <span>Tailwind CSS/BootStrap</span>
        </div>

        <div class="stack-group">
            <h3>Creative Edge</h3>
            <span>Writing</span>
            <span>Music</span>
            <span>Experimental Thinking</span>
        </div>

    </section>

{% endblock %}